<html>
    <head>
        <title>Application</title>
    </head>
<body>


    <h1>LyonPalme</h1>
        {% block content %}{% endblock content %}
            {% if user.is_authenticated %}
                <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">
                        <br>Se déconnecter</p>

    <p><a href="http://127.0.0.1:8000/admin/login/?next=/admin/">administration</p>
    <p><a href="http://127.0.0.1:8000/trombinoscope">trombinoscope</p>

            {% endif %}



</body>
</html>